<template>
  <div class="app">
    <template v-if="isConnected">
      <form class="form" novalidate @submit.prevent="submit">
        <label for="chain">Chain:</label>
        <select
            id="chain"
            name="chain"
            v-model="chain"
            @input="selectChain"
            :disabled="isDisabled"
        >
          <option
            v-for="(chain, index) in chains"
            :key="index"
            :value="index"
          >
            {{chain}}
          </option>
        </select>


        <label for="text_tx">TX BODY:</label>
        <textarea
            id="text_tx"
            v-model="tx"
            autocomplete="off"
            autocorrect="off"
            rows="8"
            cols="50"
            @input="check"
            :disabled="isDisabled"
        />

        <p v-if="err" class="error">
          {{err}}
        </p>

        <button
            class="button center"
            type="submit"
            :disabled="isDisabled || !txBody"
        >
          Send
        </button>
      </form>

      <template v-if="txURLs.length">
        <p>Tx URLS:</p>
        <ol v-if="txURLs.length">
          <li v-for="(txURL, idx) in txURLs" :key="idx">
            <a v-if="txURL" :href="txURL" class="url" target="_blank" rel="noopener">
              {{ txURL }}
            </a>
          </li>
        </ol>
      </template>
    </template>

    <button
        v-else
        type="button"
        class="button"
        @click="connect"
    >
      Connect Metamask
    </button>
  </div>
</template>

<script setup>
import {helpers} from "./helpers.js";
import {ref, watch} from "vue";

const { init, connect, chainId, isConnected, signAndSendTransaction, requestSwitchEthChain } = helpers()

const tx = ref('')
const txBody = ref(null)
const err = ref('')
const isDisabled = ref(false)
const chain = ref(chainId.value)
const txURLs = ref([])

watch(chainId, (newChainId) => {
  chain.value = newChainId
})

const selectChain = async (event) => {
  console.log(event.target.value)
  chain.value = event.target.value
  await requestSwitchEthChain(event.target.value)
  await init(event.target.value)
  err.value = ""
}

const check = async () => {
  try {
    txBody.value = JSON.parse(tx.value)

    const chain = txBody.value?.chain_id.replace('0x', '')

    if (+chain !== +chainId.value) {
      err.value = `ChainId mismatch: ${chain} !== ${chainId.value}`
      await selectChain({ target:{ value: chain } })
    } else {
      err.value = ''
    }

  } catch (e) {
    err.value = e.message
    txBody.value = null
    console.error(e)
  }

  if (!err.value && txBody.value) {
    await submit()
  }
}

const submit = async () => {
  isDisabled.value = true

  if (!txBody.value) {
    err.value = "Empty TX body"
    return
  }
  try{
    const resp = await signAndSendTransaction(txBody.value)
    txURLs.value.push(txUrl(chainId.value,resp.hash))
  } catch (e) {
    console.error(e)
    err.value = e.message
  }
  isDisabled.value = false
}

const chains = {
  3: "Ropsten Testnet",
  4: "Rinkeby Testnet",
  5: "Goerli Testnet",
}

const chainExprURLS = {
  3: "https://ropsten.etherscan.io/tx/",
  4: "https://rinkeby.etherscan.io/tx/",
  5: "https://goerli.etherscan.io/tx/",
}

const txUrl = (chainid, txHash) => {
  return `${chainExprURLS[chainid]}${txHash}`
}


init()

</script>

<style>
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 60px;
}

.app {
  display: flex;
  flex-direction: column;
  place-items: center;
  flex: 1;
}

.button {
  display: flex;
  place-content: center;
  padding: 16px;
  min-width: 18px;
  width: 100%;
  max-width: 180px;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 400px;
}

.error {
  color: red;
  font-size: 20px;
  font-weight: 600;
}

.center {
  margin: auto;
  margin-top: 16px;
}

.url {
  margin-top: 46px;
  font-size: 12px;
  font-weight: 600;
}

#chain {
  padding: 12px;
  margin-bottom: 24px;
}

p {
  margin-top: 42px;
  font-size: 16px;
  font-weight: 600;
}
</style>

